.page-header {
    border-bottom: 1px solid $border-header-color;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__contacts {
        display: flex;
    }
}

.page-header__logo {
    color: $black-color;

    &:hover,
    &:focus {
        color: $black-color;
    }
}